#lorem{
    background-color: blue;
    border: 10px solid rgba(156, 224, 18, 0.911);
    border-radius: 50px;
    margin: 50px 40px 80px 100px;
    padding: 40px 60px 70px 50px;
    text-align: center;

}
